asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
Django==5.0.6
django-allauth==0.62.1
django-allauth-2fa==0.11.1
django-axes==6.4.0
django-countries==7.6.1
django-crispy-forms==2.1
django-jazzmin==3.0.0
django-otp==1.5.0
django-seed==0.3.1
django-user-agents==0.4.0
fonttools==4.51.0
idna==3.7
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
ua-parser==0.18.0
urllib3==2.2.1
user-agents==2.2.0
