{% extends "account/index.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans "Reset Password Requested" %}</h4>
                </div>
                <div class="card-body">
                    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                    <div class="mt-3">
                        <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans "Return to login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
