{% extends "account/index.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans "Reset Your Password" %}</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        <p>{% trans "Enter your email address and we'll send you a link to reset your password." %}</p>
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">{% trans "Send Reset Instructions" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
