{% extends "account/index.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h2>{% trans "User Profile" %}</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>{% trans "Username:" %}</strong> {{ user.username }}</p>
            <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
            <p><strong>{% trans "Role:" %}</strong> {{ user.role.name }}</p>
            <p><strong>{% trans "Department:" %}</strong> {{ user.department.name }}</p>
            <p><strong>{% trans "Account Creation Time:" %}</strong> {{ user.time_of_access }}</p>
        </div>
    </div>
</div>
{% endblock %}
